.table {
    display: table;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse; 
    border-spacing: 0; 
    font-family: Futura, Arial, sans-serif;
}

.row {
    display: table-row;
    padding: .75em;
}

.row > span {
    list-style:none;
    display: table-cell;
    border: 1px solid #000;
    padding: 2px 6px;
}

.header {
    background: linear-gradient(#ccc,##777); 
    /*color: #fff;*/
    display: table-header-group;
}

.header span {
    background-color: #6E6E6E;
    color: #fcf9ef;
}

.body {
    display: table-row-group;
}

.footer {
    display: table-footer-group;
}


.body li.row:first-child { border-radius: 9px 0 0 0; }
.body li.row:last-child { border-radius: 0 9px 0 0; }
.body li.row:last-child .body li.row:first-child { border-radius: 0 0 0 9px; }
.body li.row:last-child .body li.row:last-child { border-radius: 0 0 9px 0; }
.body li.row:nth-child(odd) { background: #ccc; }