<div ng-controller="TableCtrl">
    <test-data>
        <div class="header">
            <li class="row">
                <span>Status</span>
                <span>Build</span>
                <span>Date</span>
                <span>Passed</span>
                <span>Failures</span>
                <span>Errors</span>
            </li>
        </div>
        <div class="body" >
            <li class="build row" ng-repeat="build in builds.items">
                <span class="status" ng-class="statusClass(build)"></span>
                <span><a ng-href="#/builds/{{owner}}/{{project}}/testsuites/{{build.buildNumber}}">{{build.buildNumber}}</a></span>
                <span>{{build.date | date:dateFormat}}</span>
                <span ng-class="">{{build.tests}}</span>
                <span>{{build.failures}}</span>
                <span>{{build.errors}}</span>
            </li>
        </div>
     </test-data>

</div>
