<div class="table-responsive" ng-controller="TableCtrl">
    <test-data>
        <div class="header">
            <li class="row">
                <span class="span2 sortable" ng-class="sortClass('id')" ng-click="setSort('id')">Id</span>
                <span class="span2 sortable" ng-class="sortClass('testSuiteId')" ng-click="setSort('testSuiteId')">Suite Id</span>
                <span class="span2 sortable" ng-class="sortClass('name')" ng-click="setSort('name')">Name</span>
                <span class="span2 sortable" ng-class="sortClass('className')" ng-click="setSort('className')">className</span>
                <span class="span2 sortable" ng-class="sortClass('failureMessage')" ng-click="setSort('failureMessage')">Failure</span>
                <span class="span2 sortable" ng-class="sortClass('errorMessage')" ng-click="setSort('errorMessage')">Error</span>
                <span class="span2 sortable" ng-class="sortClass('typ')" ng-click="setSort('typ')">Typ</span>
                <span class="span2 sortable" ng-class="sortClass('duration')" ng-click="setSort('duration')">Duration</span>
            </li>
        </div>
        <div class="body" >
            <li class="testcase row table-row" ng-repeat="testcase in testsuite.items">
                <span>{{testcase.id}}</span>
                <span>{{testcase.testSuiteId}}</span>
                <span>{{testcase.name}}</span>
                <span>{{testcase.className}}</span>
                <span>{{testcase.failureMessage}}</span>
                <span>{{testcase.errorMessage}}</span>
                <span>{{testcase.typ}}</span>
                <span>{{testcase.duration}}</span>
            </li>
        </div>
     </test-data>
</div>
