<div class="table-responsive" ng-controller="TableCtrl">
    <test-data>
        <div class="header">
            <li class="row">
                <span>Name</span>
                <span>className</span>
                <span>Message</span>
                <span>Duration</span>
            </li>
        </div>
        <div class="body" >
            <li class="testcase row table-row" ng-repeat="testcase in testsuite.items">
                <span class="status" ng-class="statusClass(testcase)">{{testcase.name}}</span>
                <span>{{testcase.className}}</span>
                <span style="word-break: break-all;">
                    <p ng-show="testcase.failureMessage">{{testcase.failureMessage}}
                    </p>
                    <p ng-show="testcase.errorMessage">{{testcase.errorMessage}}
                    </p>
                </span>
                <span>{{testcase.duration}}</span>
            </li>
        </div>
     </test-data>
     <br />
     <p><a class="errorToggle" ng-model="collapsedErrors" ng-click="collapsedErrors=!collapsedErrors">Click here to <strong>Toggle detailed error messages</strong></a></p>

    <div ng-show="collapsedErrors">
         <div width="100%" style="overflow: auto;">
             <br />
             <h3>error details</h3>
             <test-data>
                <div class="header">
                    <li class="row">
                        <span>Name</span>
                        <span>Detail Message</span>
                    </li>
                </div>
                <div class="body" >
                    <li class="testcase row table-row" ng-repeat="testcase in testsuite.items" ng-if="testcase.errorMessage"> 
                        <span class="status" ng-class="statusClass(testcase)">{{testcase.name}}</span>
                        <span style="word-break: break-all;">
                            <pre ng-show="{{testcase.detailErrorMessage}}">{{testcase.detailErrorMessage}}
                            </pre>
                        </span>
                    </li>
                </div>
             </test-data>
        </div>
    </div>
    <p><a class="failureToggle" ng-model="collapsedFailures" ng-click="collapsedFailures=!collapsedFailures">Click here to <strong>Toggle detailed failure messages</strong></a></p>

    <div ng-show="collapsedFailures">
    <div width="100%" style="overflow: auto"> 
         <br />
         <h3>failure details</h3>
         <test-data>
            <div class="header">
                <li class="row">
                    <span>Name</span>
                    <span>Detail Message</span>
                </li>
            </div>
            <div class="body" >
                <li class="testcase row table-row" ng-repeat="testcase in testsuite.items" ng-if="testcase.failureMessage"> 
                    <span class="status" ng-class="statusClass(testcase)">{{testcase.name}}</span>
                    <span style="word-break: break-all;">
                        <pre ng-show="{{testcase.detailFailureMessage}}">{{testcase.detailFailureMessage}}
                        </pre>
                    </span>
                </li>
            </div>
         </test-data>
     </div>
     </div>
</div>
