<div class="table-responsive" ng-controller="TableCtrl">
    <test-data>
        <div class="header">
            <li class="row">
                <span>Id</span>
                <span>Suite Id</span>
                <span>Name</span>
                <span>className</span>
                <span>Failure</span>
                <span>Error</span>
                <span>Typ</span>
                <span>Duration</span>
            </li>
        </div>
        <div class="body" >
            <li class="testcase row table-row" ng-repeat="testcase in testsuite.items">
                <span>{{testcase.id}}</span>
                <span>{{testcase.testSuiteId}}</span>
                <span>{{testcase.name}}</span>
                <span>{{testcase.className}}</span>
                <span>{{testcase.failureMessage}}</span>
                <span>{{testcase.errorMessage}}</span>
                <span>{{testcase.typ}}</span>
                <span>{{testcase.duration}}</span>
            </li>
        </div>
     </test-data>
</div>
