<div class="table-responsive" ng-controller="TableCtrl">
    <test-data>
        <div class="header">
            <li class="row">
                <span>Id</span>
                <span>Build</span>
                <span>Name</span>
                <span>Passed</span>
                <span>Failure</span>
                <span>Error</span>
                <span>Duration</span>
                <span>Date</span>
            </li>
        </div>
        <div class="body" >
            <li class="build row table-row" ng-repeat="build in builds.items">
                <span>{{build.id}}</span>
                <span><a ng-href="#/builds/{{owner}}/{{project}}/testcases/{{build.id}}">{{build.id}}</a></span>
                <span class="status" ng-class="statusClass(build)">{{build.name}}</span>
                <span>{{build.tests}}</span>
                <span>{{build.failures}}</span>
                <span>{{build.errors}}</span>
                <span>{{build.duration}}</span>
                <span>{{build.date | date:dateFormat}}</span>
            </li>
        </div>
     </test-data>
</div>
